# Ignore build files
Windows-NT-Exe/x64
Windows-NT-Exe/Debug
Debug/
x64/
Release/
__pycache__/
TestFiles/

# Ignore irrelevant studio files
Windows-NT-Exe/.vs
Windows-NT-Exe/.vs
*.exe
*.dll
*.db-shm
*.db-wal
*.opendb
*.iobj
*.ipbd
*.pdb
*.suo
*.tlog
*.ilk
*.psch
*.vcxproj.filters
*.vcxproj.user
